{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center">Creación de usuarios</h1>
                {{error}}
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username"
                    class="form-control" placeholder="Digite su usuario">
                </div>
                <div class="mb-3">
                    <label for="password1">Contraseña:</label>
                    <input type="password" name="password1" id="password1"
                    class="form-control" placeholder="Digite su contraseña">
                </div>
                <div class="mb-3">
                    <label for="password2">Confirme la contraseña:</label>
                    <input type="password" name="password2" id="password2"
                    class="form-control" placeholder="Confirme la contraseña">
                </div>

                <button class="btn btn-primary">
                    Crear
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}